.cart {
  background-color: antiquewhite;
  border-radius: 30px;
  height: fit-content;
  box-sizing: border-box;
  /* position: sticky; */
  top: 80px;
}
.button-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.button-container button {
  display: block;
  width: 200px;
  margin: 10px auto;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}

