.card {
  height: 510px;
  width: 320px;
  padding: 15px;
  justify-self: center;
}

/* Must need a container/wrapper for image */
.image-container {
  width: 280px;
  height: 280px;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
h2{
    text-align: center;
}