.title {
  text-align: center;
}
.container {
  display: grid;
}
.card-container {
  display: grid;
  align-items: center; 
  justify-content: center;
  /* grid-template-columns: repeat(auto-fill, 320px); */
}

.modal-container {
  display: flex;
  gap: 20px;
}
.close-btn {
  display: block;
  position: fixed;
  right: 20px;
  top: 15px;
  cursor: pointer;
}
.modal-container .image-container {
  width: 200px;
  height: 200px;
  margin: auto;
}
.modal-container .image-container img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.modal-container .details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.modal-container h2,
.modal-container h3,
.modal-container h4 {
  margin-top: 0;
}

/*===============
  MEDIA QUERIES 
 ==============*/

/* Small devices */
@media (min-width: 450px) {
  .card-container {
    grid-template-columns: repeat(auto-fill, 320px);
    order: 2;
  }
  .cart {
    order: 1;
    position: static;
  }
  .modal-container {
    flex-direction: column;
  }
}

/* Medium devices */
@media (min-width: 768px) {
  .modal-container {
    flex-direction: row;
  }
}

/* Large devices */
@media (min-width: 992px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 320px;
  }

  .card-container {
    order: 1;
  }

  .cart {
    order: 2;
    position: sticky;
  }
}

/* Extra large devices */
@media (min-width: 1200px) {
  .card-container {
    grid-template-columns: repeat(3, 320px);
  }
}
